*.xcodeproj
*.xcworkspace
.build
.DS_Store
.swiftpm
build
env
Package.local.swift
xcshareddata
xcuserdata
Sources/Tests/Integration/Resources/credentials.json
Sources/Tests/Integration/Resources/credentials.json.disabled
